.image-gallery{
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.image-gallery img{
    min-height: 300px;
    max-width: 600px;
    border-radius: 7.5px;
    transition: ease 5s 1s;
}

.image-gallery img:hover{
    transform: scale(1.2) translateY(-2rem);
    border: 1px solid gray;
}
.service-cards-intro,.experience-content {
    max-width: 800px;
}
.experience-content,.service-cards-intro{
    font-family: arial;
    font-weight: 100;
    text-align: justify;
}
.chat-with-me{
    border: 2px solid black;
    padding: 3px;
    position: fixed;
    bottom: 10px;
    right: 0;
    
}
.islands-cards{
    place-items: center;
}

.initial-content{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid darkgray;
}
.initial-content p,.content p{
    line-height: 1.5;
    font-family: Arial;
    font-weight: 500;
    text-align: justify;
}
.main-content{
    display:grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 30px;
}

.heading{
    margin-bottom: 30px;
}
.additional{
    margin-top: 30px;
}
.additional p{
    margin-left: 10px;
}
.additional p::before{
    content: '↪';
    font-size: 18px;
    font-weight: 700;
}
.additional h3{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}
.main-content-left{
    max-width: 800px;
}
.image-slider {
    position: relative;
    width: 100%;
    height: 500px; /* Adjust height as needed */
  }
  #prev-btn {
    left: 10px; /* Adjust the distance from the left edge */
    top: 50%; /* Center vertically */
    z-index: 1;
}
  .slider-wrapper {
    display: flex;
    transform: translateX(0); /* Default position */
  }
  .slider-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0; /* Prevent images from shrinking */
  }
.bookings{
    margin-top: 20px;
}
.call-actions {
    margin-top: 20px;
}
.call-actions  a{
    border: 1px solid darkgray;
    padding: 8px 10px;
    border-radius: 50px;
}
.call-actions  a:hover{
background-color: rgb(104, 213, 218);
}
.testimonial input{
    padding: 5px;
}
/* kayaki css */
.rental-cards{
    display: flex;
    flex-wrap: wrap;
    place-items: center;
gap: 20px;
}
.rental-cards img{
    width: 100%;
}
/*This is experience form css to hid */ 
@media screen and (max-width:786px) {
      .tours-overview,.islands-cards{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
     .heading{
        font-size: 2rem;
    }
    .image-slider{
        display: none;
    }
    .main-content {
        display: block;
        position: relative;
      }
}