section {
    margin: 0 auto;
}
#about,#service,#home {
    padding: 100px 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative; 
}
.card img {
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
    .card img {
        height: 300px; 
    }
    .card:hover img {
        transform: scale(1.05); /* Add a subtle zoom effect on hover */
    }
}