section {
    margin: 0 auto;
}
.home{
    padding-top: 200px;
}
#about,#service,#home {
    padding: 100px 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative;
    border-bottom: 2px solid white; 
}
.card a {
    display: block;
    text-align: center;
    margin-top: 10px;
}
.card h3 {
    font-size: 1.5rem; /* Desktop */
}
.card p {
    font-size: 1rem; /* Desktop */
}
.card img {
    height: 300px;
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}


@media (max-width: 768px) {
    .card h3 {
        font-size: 1.2rem; /* Mobile */
    }
       .card p {
        font-size: 0.9rem; /* Mobile */
    
}
.card img {
    height: auto; /* Let height adapt on smaller screens */
}
}