section {
    padding: 90px 20px; /* Add space inside each section */
    margin: 0 auto; /* Center the content */
}

section + section {
    margin-top: 50px; /* Add space between adjacent sections */
}
section {
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    position: relative; /* Ensures stacking context */
    /* z-index: 1; */
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

/* On large screens, make the images larger */
@media screen and (min-width: 1024px) {
    .card img {
        height: 300px; /* Increase height for better visibility */
    }
    
    .card:hover img {
        transform: scale(1.05); /* Add a subtle zoom effect on hover */
    }
}

